In [34]:
import pandas as pd
print('Pandas imported suscefully!!')

Pandas imported suscefully!!

# series and DataFrames

In [24]:
#creating a series

age= pd.Series([65,23,45,76,98,65,65,45,9,98,78,67,56,76,87,98,7,7,98,65,87,78,687,687,67])

age

0      65
1      23
2      45
3      76
4      98
5      65
6      65
7      45
8       9
9      98
10     78
11     67
12     56
13     76
14     87
15     98
16      7
17      7
18     98
19     65
20     87
21     78
22    687
23    687
24     67
dtype: int64

# 2. Dataframe

In [25]:
# creating a dataframe

data = {
    'Name': ['Amina', 'Joseph', 'Fatima', 'Samuel'],
    'Age': [28, 35, 42, 19],
    'Household_Size': [5, 7, 4, 3],
    'Zone': ['A', 'B', 'A', 'C']
}

df=pd.DataFrame(data)

df

     Name  Age  Household_Size Zone
0   Amina   28               5    A
1  Joseph   35               7    B
2  Fatima   42               4    A
3  Samuel   19               3    C

## Loading a Datasets using a pandas

**1. loading a csv files**

In [26]:
df= pd.read_csv("Data Set/sales.csv",encoding ="latin1")

df

# firt five rows

df.head(5)

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
0,1,CA-2016-152156,11/8/2016,11/11/2016,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600,2,0.00,41.9136
1,2,CA-2016-152156,11/8/2016,11/11/2016,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,3,0.00,219.5820
2,3,CA-2016-138688,6/12/2016,6/16/2016,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,...,90036,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200,2,0.00,6.8714
3,4,US-2015-108966,10/11/2015,10/18/2015,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,5,0.45,-383.0310
4,5,US-2015-108966,10/11/2015,10/18/2015,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680,2,0.20,2.5164

In [37]:
df3= pd.read_csv("Data Set/messy_sales.csv") 

df3

      OrderID Customer Name   product  Quantity    Price  Order Date Region
0        1378           NaN     Mouse       4.0  1295.53  10/26/2025   West
1        2780       Douglas     Mouse       1.0  1322.77    6/6/2024   East
2        2359         Sarah     Mouse       5.0   250.51   3/15/2024  North
3        2116       Stanley     Mouse       3.0    30.05    8/9/2025   West
4        1267        Rachel  Keyboard       3.0   296.62   3/17/2024  South
...       ...           ...       ...       ...      ...         ...    ...
1995     2733        Nicole   Monitor       3.0   703.97   12/9/2025  North
1996     2586        Ashley   Monitor       1.0  1406.12   10/2/2024    NaN
1997     1699        Andrew     Mouse       1.0  1353.34   5/28/2025   West
1998     1733       Shannon    Laptop       4.0   331.85   2/29/2024  North
1999     1428         Randy       NaN       1.0   199.31   6/13/2025  North

[2000 rows x 7 columns]

In [38]:
df.shape

(9994, 21)

**2. Load an Excel file (.xlsx)**

In [27]:
df2= pd.read_excel("Data Set/sales.xlsx") 

df2

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
0,1,CA-2016-152156,2016-11-08,2016-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600,2,0.00,41.9136
1,2,CA-2016-152156,2016-11-08,2016-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,3,0.00,219.5820
2,3,CA-2016-138688,2016-06-12,2016-06-16,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,...,90036,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200,2,0.00,6.8714
3,4,US-2015-108966,2015-10-11,2015-10-18,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,5,0.45,-383.0310
4,5,US-2015-108966,2015-10-11,2015-10-18,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680,2,0.20,2.5164
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9989,9990,CA-2014-110422,2014-01-21,2014-01-23,Second Class,TB-21400,Tom Boeckenhauer,Consumer,United States,Miami,...,33180,South,FUR-FU-10001889,Furniture,Furnishings,Ultra Door Pull Handle,25.2480,3,0.20,4.1028
9990,9991,CA-2017-121258,2017-02-26,2017-03-03,Standard Class,DB-13060,Dave Brooks,Consumer,United States,Costa Mesa,...,92627,West,FUR-FU-10000747,Furniture,Furnishings,Tenex B1-RE Series Chair Mats for Low Pile Car...,91.9600,2,0.00,15.6332
9991,9992,CA-2017-121258,2017-02-26,2017-03-03,Standard Class,DB-13060,Dave Brooks,Consumer,United States,Costa Mesa,...,92627,West,TEC-PH-10003645,Technology,Phones,Aastra 57i VoIP phone,258.5760,2,0.20,19.3932
9992,9993,CA-2017-121258,2017-02-26,2017-03-03,Standard Class,DB-13060,Dave Brooks,Consumer,United States,Costa Mesa,...,92627,West,OFF-PA-10004041,Office Supplies,Paper,"It's Hot Message Books with Stickers, 2 3/4"" x 5""",29.6000,4,0.00,13.3200
9993,9994,CA-2017-119914,2017-05-04,2017-05-09,Second Class,CC-12220,Chris Cortes,Consumer,United States,Westminster,...,92683,West,OFF-AP-10002684,Office Supplies,Appliances,"Acco 7-Outlet Masterpiece Power Center, Wihtou...",243.1600,2,0.00,72.9480

### 3. loading a database

In [28]:
pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in c:\users\len\anaconda3\lib\site-packages (9.5.0)
Note: you may need to restart the kernel to use updated packages.

In [29]:
import mysql.connector

In [32]:
conn= mysql.connector.connect(
    host='localhost',
    user='root',
    port= 3306,
    database='customer_behavior',
    password= 'Data-2026'
)

print("connected successfully")

connected successfully

In [44]:
df4 = pd.read_sql('SELECT * FROM customers',conn)

df4

C:\Users\len\AppData\Local\Temp\ipykernel_11228\3772134260.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df4 = pd.read_sql('SELECT * FROM customers',conn)

,customer_id,age,age_group,gender,item_purchased,category,purchase_amount,location,size,color,season,review_rating,subscription_status,shipping_type,discount_applied,promo_code_used,previous_purchases,payment_method,frequency_of_purchases,purchase_frequency_days
0,1,55,Middle Aged,Male,Blouse,Clothing,53,Kentucky,L,Gray,Winter,3.1,Yes,Express,Yes,Yes,14,Venmo,Fortnightly,14
1,2,19,Young Adult,Male,Sweater,Clothing,64,Maine,L,Maroon,Winter,3.1,Yes,Express,Yes,Yes,2,Cash,Fortnightly,14
2,3,50,Middle Aged,Male,Jeans,Clothing,73,Massachusetts,S,Maroon,Spring,3.1,Yes,Free Shipping,Yes,Yes,23,Credit Card,Weekly,7
3,4,21,Young Adult,Male,Sandals,Footwear,90,Rhode Island,M,Maroon,Spring,3.5,Yes,Next Day Air,Yes,Yes,49,PayPal,Weekly,7
4,5,45,Middle Aged,Male,Blouse,Clothing,49,Oregon,M,Turquoise,Spring,2.7,Yes,Free Shipping,Yes,Yes,31,PayPal,Annually,365
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3895,3896,40,Adult,Female,Hoodie,Clothing,28,Virginia,L,Turquoise,Summer,4.2,No,2-Day Shipping,No,No,32,Venmo,Weekly,7
3896,3897,52,Middle Aged,Female,Backpack,Accessories,49,Iowa,L,White,Spring,4.5,No,Store Pickup,No,No,41,Bank Transfer,Bi-Weekly,14
3897,3898,46,Middle Aged,Female,Belt,Accessories,33,New Jersey,L,Green,Spring,2.9,No,Standard,No,No,24,Venmo,Quarterly,90
3898,3899,44,Adult,Female,Shoes,Footwear,77,Minnesota,S,Brown,Summer,3.8,No,Express,No,No,24,Venmo,Weekly,7
3899,3900,52,Middle Aged,Female,Handbag,Accessories,81,California,M,Beige,Spring,3.1,No,Store Pickup,No,No,33,Venmo,Quarterly,90

In [43]:
df4. shape

(3900, 20)