# variables,Data types & list

## 1. variables

In [37]:
name ="olara Anthony"
print(name)

olara Anthony

In [38]:
age = 26
course = "data analytics"
height = 2.34
gender = "male"
print(age)

26

In [39]:
# Python is a case senstive
#Age,age,AGE

In [40]:
#camel casing
myFirstName ='Anthony'

In [41]:
#Sneke case
my_fist_name = 'olara'

In [42]:
age = 28
name = "Sarah"
salary = 55000.50
print(name)
print(age)
print(salary)

Sarah
28
55000.5

## 2. Date types


###  a. Integer ( int )---------------> Whole numbers

In [43]:
age = 26

type(age)

int

In [44]:
employees = 50

type(employees)

int

In [45]:
year = 2024

type(year)

int

### b. Float ------------------> Number with decimal

In [46]:
height = 1.56

type(height)

float

In [47]:
average_sales = 12345.67

type(average_sales)

float

In [48]:
temperature = 22.5

type(temperature)

float

### c. String ( str )----------------------->Text

In [49]:
name = 'olara'

type(name)

str

In [50]:
city = "Nairobi"

type(city)

str

In [51]:
message = "Welcome to Python!"

type(message)

str

### Boolean--------------------> True or false

In [52]:
a = 10
b = 5

print(a > b)
print(a < b)
print (a==b)

True
False
False

#  3.List

In [53]:
fruits =['mango','banana','orenge','chery']

scores = [78,98,56,98]

my_list =[]
print(fruits)

['mango', 'banana', 'orenge', 'chery']

In [54]:
fruits = ["apple", "banana", "orange"]

scores = [85, 90, 78, 92]

print(fruits)
print(scores[0])

['apple', 'banana', 'orange']
85

In [55]:
thislist = ["apple", "banana", "cherry"]

print(thislist)

['apple', 'banana', 'cherry']

In [56]:
#Accesing Items form the list

thislist = ["apple", "banana", "cherry"]

print(thislist[-1])

cherry

In [57]:
#Changeing Item Value from the list

thislist = ["apple", "banana", "cherry"]

thislist[1] = "blackcurrant"

print(thislist)

['apple', 'blackcurrant', 'cherry']

In [58]:
#Change the values "banana" and "cherry" with the values "blackcurrant" and "watermelon":

thislist = ["apple", "banana", "cherry", "orange", "kiwi", "mango"]

thislist[1:2] = "blackcurrant","watermelon"

print(thislist)

['apple', 'blackcurrant', 'watermelon', 'cherry', 'orange', 'kiwi', 'mango']

In [59]:
#Change the second and third value by replacing it with one value:

thislist = ["apple", "banana", "cherry"]

thislist[1:3] = ["mango"]

print(thislist)

['apple', 'mango']